#
# Course-specific
#

# Compiled executives specific to courses involved
# as they don't have extensions by default in Linux
EDAF80_Assignment*
EDAN35_Assignment*

# Build folders
build/
Debug/
Release/
ipch/
out/

# Dependencies folder
dependencies/

# Resources folder
res/
res.zip

# Application produced files
imgui.ini
log.txt

# Visual Studio Files
.vs/
*.opensdf
*.sdf
*.suo
*.vcxproj.user

#
# C/C++
# from: https://github.com/github/gitignore/blob/main/C%2B%2B.gitignore
#
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
# CMake
# from: https://github.com/github/gitignore/blob/main/CMake.gitignore
#
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
